.PoolCol {
    background-color: #1b46c2;
}

.PoolCard {
    margin: 5px;
    background-color: white;
    text-align: center;
    border: 1px;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
}

.poolTop {
    border: 1px;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
}

.poolPosition {
    border: 1px;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
}

.butLine {
    display: inline-block;
    width: 40%;
    margin: 5px;
}

.butLineBig {
    display: inline-block;
    width: 78%;
    margin: 10px;
    padding: 5px;
}