.centerStakeModal {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 32px;
  color: var(--neutral-white, #fff);
}

.backgroundStakeModal {
  z-index: 100;
  border-radius: 32px;
  background-color: black;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.64);
  opacity: 1;
  min-height: 400px; /* Définir une hauteur spécifique */
  max-height: 800px;
  overflow-y: auto; /* Activer le défilement vertical, si nécessaire */
}

/* Pour les appareils avec une hauteur d'écran inférieure à 670px */
@media (max-height: 670px) {
  .backgroundStakeModal {
    min-height: 0px;
    max-height: 450px;
  }
}

.modalStakeModal {
  display: flex;
  position: relative;
  flex-direction: column;
  background: linear-gradient(
      156.86deg,
      rgba(189, 55, 236, 0.26) 12.97%,
      rgba(31, 103, 255, 0) 71.91%
    ),
    rgba(99, 74, 203, 0.32);

  .modalLabelStakeModal {
    font: var(--title-28-px-bold, 700 28px 'Plus Jakarta Sans', sans-serif);
  }
}

.contentStakeModal {
  padding: 10px 44px 10px 44px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  //   width: 618px;

  overflow: hidden;
}
.closeStakeModal {
  // Nouvelle classe pour votre SVG
  margin-right: 15px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.logosStakeModal {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  .image_2StakeModal {
    background: var(--neutral-black, #000000);
    border-radius: 132.6px;
    display: flex;
    flex-direction: row;
    gap: 13.26px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    position: relative;
  }

  .logo2StakeModal {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    position: relative;
  }

  .img_2StakeModal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .logo1StakeModal {
    padding: 0 !important;
    background-color: white;
    border-radius: 44.2px;
    border-style: solid;
    border-color: var(--neutral-light, #695885);
    border-width: 1px;
    padding: 8.84px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -15.98px;
    top: 52px;
  }

  .image_1StakeModal {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .img_1StakeModal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .dropDownGroupeStakeModal {
    flex-direction: column;
  }
}

.dropDownGroupeStakeModal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dropDownGroupeStakeModal .dropDownStake,
.dropDownGroupeStakeModal .dropDownEarn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.dropDownStake,
.dropDownEarn {
  flex-direction: column;

  .GroupeLabelDropdoown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    .LabelDropdoown {
      font: 300 10px 'Plus Jakarta Sans', sans-serif;
      text-transform: uppercase;
      width: 179px;
      float: left;
    }
  }
}
.pool-details_StakeModal {
  width: 100%;
  .this-pool-already-exists_StakeModal {
    float: left;
  }
}

.GroupeDetails_StakeModal {
  display: flex;
  flex-direction: row;
  gap: 15px; /* Réduire le gap à 5px */
  width: 100%;
  margin-top: 30px;
  background-color: #3e2977;
  border-radius: 8px;
  padding: 24px 24px;
}

.LogosDetails_StakeModal {
  display: flex;
  //   flex: 1; /* Utilise 1/3 de l'espace disponible */
  align-items: center;
  justify-content: center;

  .logosStakeModal {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;

    flex-shrink: 0;
    position: relative;
  }

  .image_2StakeModal {
    background: var(--neutral-black, #000000);
    border-radius: 132.6px;
    display: flex;
    flex-direction: row;
    gap: 13.26px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50.4px; /* 72px reduced by 30% */
    height: 50.4px; /* 72px reduced by 30% */
    position: relative;
  }

  .logo2StakeModal {
    flex-shrink: 0;
    width: 49px; /* 70px reduced by 30% */
    height: 49px; /* 70px reduced by 30% */
    position: relative;
  }

  .img_2StakeModal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .logo1StakeModal {
    padding: 0 !important;
    background-color: white;
    border-radius: 44.2px;
    border-style: solid;
    border-color: var(--neutral-light, #695885);
    border-width: 1px;
    padding: 6.19px; /* 8.84px reduced by 30% */
    flex-shrink: 0;
    width: 22.4px; /* 32px reduced by 30% */
    height: 22.4px; /* 32px reduced by 30% */
    position: absolute;
    left: -11.188px; /* -15.98px reduced by 30% */
    top: 36.4px; /* 52px reduced by 30% */
  }

  .image_1StakeModal {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .img_1StakeModal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.PoolDetails_StakeModal {
  display: flex;
  flex: 2;
  flex-direction: column;
  .DetailsInfo {
    display: flex;
    justify-content: space-between; // Nouvelle ligne
    .LabelDetailsInfo {
      // float: left; // Supprimée
      font: 300 12px 'Plus Jakarta Sans', sans-serif;
    }
    .ValueDetailsInfo {
      // float: right; // Supprimée
      font: 600 12px 'Plus Jakarta Sans', sans-serif;
    }
  }
}

.staked-rewarded-tokens-StakeModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .do-you-want-to-add-it-rewarded-tokens-StakeModal {
    float: left;
  }
}

.FormatAmountStaked {
  font: 300 italic 12px 'Plus Jakarta Sans', sans-serif;
}

.AmountInputGroupe,
.bottomGroupeModal {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bottomGroupeModal {
  margin-top: 15px;
}
.bottomModal {
  width: 100%;
}
.AmountRageGroupe {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
}
/* Ajoutez cette partie pour les écrans de moins de 550px */
@media (max-width: 550px) {
  .dropDownGroupeStakeModal {
    flex-direction: column;
    .dropDownStake {
      margin-bottom: 10px;
    }
  }
  .InverseArrow {
    margin: 0px 0px 0px 0px;
    transform: rotate(90deg);
  }
}

@media (min-width: 551px) {
  .InverseArrow {
    margin: 29px 0px 0px 0px;
  }
}
.dropDownArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}
.dropDownArrow:hover {
  cursor: pointer;
}

.GroupeLabelDropdoownFormatAmount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  .LabelDropdoown,
  .LabelDropdoownFormatAmount {
    width: 100%;
    float: left;
  }
}

.AmountRageGroupeSwap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.InputRangePerso {
  position: relative;
  width: 100%;

  #slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #eee;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    height: 100%;
    // &::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   appearance: none;
    //   width: 25px;
    //   height: 25px;
    //   background: #000000;
    //   cursor: pointer;
    //   border-radius: 50%;
    // }

    // &::-moz-range-thumb {
    //   width: 25px;
    //   height: 25px;
    //   background: #000000;
    //   cursor: pointer;
    //   border-radius: 50%;
    // }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #bd37ec, #1f67ff);
      z-index: -1;
      border-radius: 10px 10px 10px 10px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - var(--value) * 1%);
      height: 100%;
      background: #eee;
      z-index: -1;
      border-radius: 10px 10px 10px 10px;
    }
  }
}
